@font-face {
    font-family: 'LetovoFont'; /*a name to be used later*/
    src: url('http://info.letovo.school/lib/exe/fetch.php?media=brand_and_design:daxpro.otf'); /*URL to font*/
}

*{
 font-family: 'LetovoFont';
}
