@font-face {
    font-family: 'LetovoFont'; /*a name to be used later*/
    src: url('https://github.com/vv73/byte-of-python/blob/master/styles/daxpro.otf?raw=true'); /*URL to font*/
}

*{
 font-family: 'LetovoFont';
}
